{% load static %}

<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">

    {% block extrastyle %}

        <link href="{% static 'ajax_datatable/css/style.css' %}" rel="stylesheet"/>
        <link rel='stylesheet' href="https://cdnjs.cloudflare.com/ajax/libs/fomantic-ui/2.9.2/semantic.min.css">
        <link rel='stylesheet' href="https://cdn.datatables.net/1.13.6/css/dataTables.semanticui.min.css">
    {% endblock extrastyle %}

    {% block extrajs %}
        <script src="https://code.jquery.com/jquery-3.7.0.min.js"></script>
        <script type="text/javascript" src="{% static 'ajax_datatable/js/utils.js' %}"></script>
        <script src="//cdn.datatables.net/1.13.6/js/jquery.dataTables.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/fomantic-ui/2.9.2/semantic.min.js"></script>
        <script src="https://cdn.datatables.net/1.13.6/js/dataTables.semanticui.min.js"></script>

    {% endblock extrajs %}
    <title>Document</title>
</head>
<body>
<div class="table-responsive">
    <table id="datatable_studies"
           class="ui celled table " style="width:100%">
    </table>
</div>

</body>


<script language="javascript">

    $(document).ready(function () {
        AjaxDatatableViewUtils.initialize_table(
            $('#datatable_studies'),
            "{% url 'ajax_datatable_studies' %}",
            {
                // extra_options (example)
                processing: true,
                language: { "processing": '<div class="d-flex justify-content-center"><div class="spinner-border" role="status"><span class="visually-hidden">Loading...</span></div></div>' },
                autoWidth: false,
                full_row_select: true,

                scrollX: false
            }, {
                colVis: {
                    overlayFade: 1000
                },
            },
        );
    });
</script>
</html>